.recipeCard {
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.403);

  h2 {
    font-size: 15px;
    margin: 10px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
