.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 0;
  color: black;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-shadow: rgba(0, 0, 0, 0.623) 1px 1px 10px;
  }
}
